############## Main SIRV Model ################

import numpy as np
from scipy.integrate import odeint
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
import os
from datetime import datetime, timedelta

def sirv_model(y, t, beta, gamma, nu):
    S, I, R, V = y
    N = S + I + R + V
    dSdt = -beta * S * I / N - nu * S
    dIdt = beta * S * I / N - gamma * I
    dRdt = gamma * I
    dVdt = nu * S
    return [dSdt, dIdt, dRdt, dVdt]

N = 23289 # population

I0 = 6 #Initial infected
R0 = 0 #Initial recovered
V0 = int(0.82*N) #Change vaccination proportion as needed
S0 = N - I0 - R0 - V0 #Susceptible

beta = 1.0 # Infection rate
gamma = 0.1266 # Recovery rate
v_rate = 0.000

t = np.linspace(0,300,10) #300 days, 10 intervals
result = odeint(sirv_model,[S0,I0,R0,V0], t, args=(beta,gamma,v_rate))
S,I,R,V = result.T

start_date = datetime(2025,1,1)
month_names = [(start_date + timedelta(days=int(day))).strftime('%b')for day in t]
indices = np.arange(len(t))

# Plot 1: SIRV Model Graph
plt.figure(figsize=(10, 7))
plt.plot(indices, S, label = 'Susceptible')
plt.plot(indices, I, label='Infected')
plt.plot(indices, R, label='Recovered')
plt.plot(indices, V, label='Vaccinated')
plt.xlabel('Months')
plt.ylabel('Number of individuals')
plt.title('SIRV Model for Gaines County, Texas')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.xticks(indices, month_names,rotation=45)
plt.show()

# Plot 2: ML-Predicted Outbreak Duration
plt.figure(figsize=(10,7))
plt.bar(indices,I,width=0.8,color='orange',edgecolor='black')
plt.xlabel('Months')
plt.ylabel('Number of infected individuals')
plt.title('Monthly Infected Count - SIRV Measles Model')
plt.grid(True,linestyle='--', alpha = 0.5)
plt.tight_layout()
plt.xticks(indices,month_names,rotation=45)
plt.show()

infected1 = 0
for day,infected in zip(t,I):
    infected1=infected1+infected
    if infected < 1:
        print(f"Predicted end of outbreak: Day {int(day)}")
        break
print(f"Total infected individuals: {int(infected1)}")

